node_modules/
**/node_modules/

# Local env files
.env
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# Editor folders
.vscode/
.idea/

# System files
.DS_Store
